__pycache__/
.ipynb_checkpoints/
.git/
dev-notebooks/
models/FLAME2020/*.pkl
models/face_landmarker_v2_with_blendshapes.task
/utils/diff-gaussian-rasterization
/utils/simple-knn
examples/experiment.ipynb
snapshot_fw.dump
examples/FLAME_test_code.ipynb
