__pycache__/
.ipynb_checkpoints/
.git/
dev-notebooks/
models/FLAME2020/*.pkl
models/face_landmarker_v2_with_blendshapes.task
models/dejavu_network.pt
examples/experiment.ipynb
snapshot_fw.dump
examples/FLAME_test_code.ipynb
saved_avatars/*
!saved_avatars/placeholder.txt
!saved_avatars/peizhi-uv120/
/utils/simple-knn
/utils/diff-gaussian-rasterization
saved_gaussians.ply
