__pycache__/
.ipynb_checkpoints/
.git/
dev-notebooks/
models/FLAME2020/*.pkl
/utils/diff-gaussian-rasterization
/utils/simple-knn
/examples/experiment.ipynb
/examples/FLAME_test_code.ipynb
snapshot_fw.dump
